@model IKart_Shared.DTOs.Admin.ProductDto

@using Newtonsoft.Json

@{
                Layout = "~/Views/Shared/_AdminLayout.cshtml";

                ViewBag.Title = "Delete Product";

}

<div class="container mt-4">
    <div class="card shadow-sm border-0">
        <div class="card-body text-center" style="min-height: 250px;">
            <h2 class="mb-4">@ViewBag.Title</h2>

            <div class="alert alert-warning fw-bold">

                Are you sure you want to delete the product:
                <strong>@Model.ProductName</strong>?
            </div>

            @using (Html.BeginForm("Delete", "Products", FormMethod.Post))

            {

                @Html.AntiForgeryToken()

                                @Html.HiddenFor(m => m.ProductId)

                                                <div class="d-flex justify-content-center gap-3 mt-4">
                                                    <button type="submit" class="btn btn-danger px-4">Yes, Delete</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                    <a href="@Url.Action("Index")" class="btn btn-outline-secondary px-4">Cancel</a>
                                                </div>
                                                            }
        </div>
    </div>
</div>

