﻿@model IKart_Shared.DTOs.Authentication.UserRegisterDto
@{
    Layout = "~/Views/Shared/_RegisterLayout.cshtml";
}

@{
    ViewBag.Title = "Register";
}

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

@using (Html.BeginForm("Register", "Auth", FormMethod.Post, new { @class = "form" }))
{
    <div class="form-group mb-3">
        @Html.LabelFor(m => m.FullName, htmlAttributes: new { @class = "small fw-bold" })
        @Html.TextBoxFor(m => m.FullName, new { @class = "form-control", placeholder = "Enter full name" })
        @Html.ValidationMessageFor(m => m.FullName, "", new { @class = "text-danger" })
    </div>

    <div class="form-group mb-3">
        @Html.LabelFor(m => m.Email, htmlAttributes: new { @class = "small fw-bold" })
        @Html.TextBoxFor(m => m.Email, new
        {
            @class = "form-control",
            placeholder = "Enter email",
            @data_val = "true",
            @data_val_remote = "true",
            @data_val_remote_url = Url.Action("ValidateEmail", "Auth"),
            @data_val_remote_error = "Email already exists or must end with '.com'"
        })
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
    </div>

    <div class="form-group mb-3">
        @Html.LabelFor(m => m.PhoneNo, htmlAttributes: new { @class = "small fw-bold" })
        @Html.TextBoxFor(m => m.PhoneNo, new
        {
            @class = "form-control",
            placeholder = "Enter phone number",
            @data_val = "true",
            @data_val_remote = "true",
            @data_val_remote_url = Url.Action("ValidatePhone", "Auth"),
            @data_val_remote_error = "Phone number must be 10 digits and unique"
        })
        @Html.ValidationMessageFor(m => m.PhoneNo, "", new { @class = "text-danger" })
    </div>


    <div class="form-group mb-3">
        @Html.LabelFor(m => m.Username, htmlAttributes: new { @class = "small fw-bold" })
        @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "Choose a username" })
        @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
    </div>

    <div class="form-group mb-3">
        @Html.LabelFor(m => m.Password, htmlAttributes: new { @class = "small fw-bold" })
        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Enter password" })
        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
    </div>

    <div class="form-group mb-3">
        @Html.LabelFor(m => m.ConfirmPassword, htmlAttributes: new { @class = "small fw-bold" })
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm password" })
        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-success w-100 ">Register</button>
}

<div class="mt-3 text-center text-center small">
    IKart's Member @Html.ActionLink("Login here", "Login", "Auth")
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.3/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>